@import 'nib'

global-reset()
reset-html5()

html
	height 100%
	min-height 100%

body
	height 100%
	min-height 100%
	margin 0
	background-repeat no-repeat
	background-attachment fixed
	background-repeat no-repeat
	background-color #ffffff
	background-image -moz-radial-gradient(50% 50%, ellipse closest-side, #d4f4f9, #cea7e2 100%)
	background-image -webkit-radial-gradient(50% 50%, ellipse closest-side, #d4f4f9, #cea7e2 100%)
	background-image -o-radial-gradient(50% 50%, ellipse closest-side, #d4f4f9, #cea7e2 100%)
	background-image -ms-radial-gradient(50% 50%, ellipse closest-side, #d4f4f9, #cea7e2 100%)
	background-image radial-gradient(50% 50%, ellipse closest-side, #d4f4f9, #cea7e2 100%)

#wrap
	padding 0
	margin 0

	// #background
	// 	height 100%
	// 	width 100%
	// 	margin 0
	// 	padding 0
	// position fixed
	// z-index -1
	// background-repeat no-repeat
	// background-attachment fixed
	// background-repeat no-repeat
	// background-color #ffffff
	// background-image -moz-radial-gradient(50% 50%, ellipse closest-side, #ffffff, #e1e1e1 100%)
	// background-image -webkit-radial-gradient(50% 50%, ellipse closest-side, #ffffff, #e1e1e1 100%)
	// background-image -o-radial-gradient(50% 50%, ellipse closest-side, #ffffff, #e1e1e1 100%)
	// background-image -ms-radial-gradient(50% 50%, ellipse closest-side, #ffffff, #e1e1e1 100%)
	// background-image radial-gradient(50% 50%, ellipse closest-side, #ffffff, #e1e1e1 100%)

canvas
	background transparent
	margin 0
	padding 0
	position fixed
	top 0
	left 0
	z-index -1
