!!! 5
html(lang='en')

	head
		title The webgl Octopus by David Ronai
		meta(charset='utf-8')
		meta(name='description', content='David Ronai portfolio')
		link(rel='Shortcut Icon', type='image/ico', href='img/favicon.png')
		link(rel='stylesheet', href='css/main.css', type='text/css')
		script(type='text/javascript', src='js/lib/modernizr2.6.2.min.js')

	body
	
		script(type='text/javascript', src='js/lib/jquery/jquery.min.js')
		
		script(type='text/javascript', src='js/lib/tweenlite/TweenLite.min.js')

		script(type='text/javascript', src='js/lib/threejs/three.min.js')
		script(type='text/javascript', src='js/lib/threejs/Stats.js')
		script(type='text/javascript', src='js/lib/threejs/Detector.js')
		script(type='text/javascript', src='js/lib/dat.gui.min.js')	

		script(type='text/javascript', src='js/main.js')